[m-b-0] {
  margin-bottom: 0 !important;
}

[m-b-1] {
  margin-bottom: $gutter !important;
}

[p-b-0] {
  padding-bottom: 0 !important;
}

.hidden-keyboard-opened {
  @media screen and (max-height: 400px) {
    display: none;
  }
}

.hidden {
  display: none !important;
}

.hidden-until-phablet {
  @include mq($until: 360px) {
    display: none;
  }
}

[p] {
  padding: $gutter;
}

.timeout {
  color: red;
}

