$gradient-button: linear-gradient(145deg, #515495, #6064b1);

@mixin neomorphs {
  background: $gradient-button;
  box-shadow:  11px 11px 21px #4d4f8c, 
              -11px -11px 21px #686bbe;
}

button {
  appearance: none;
  -webkit-appearance: none;
  max-width: calc(375px - 2rem);
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-family: 'Museo Sans Rounded 500', Helvetica, sans-serif;
  letter-spacing: inherit;
  color: white;
  background-color: white;
  border-radius: 1.3rem;
  border: none;
  transition: all var(--duration) ease-in;
  outline: none;
  @include neomorphs;
  cursor: pointer;

  &:active {
    outline: none;
  }

  &[simple] {
    background: var(--color-primary);
    box-shadow: none;
  }

  &[transparent] {
    color: white;
    background: transparent;
    box-shadow: none;

    [class^='icon'] {
      padding-right: 0.5rem;
    }

    &:hover {
      background: transparent;
    }
  }

  &[color-secondary] {
    background: var(--color-secondary);

    &:hover {
      background: var(--color-primary);
    }
  }

  &[big] {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Museo Sans Rounded 1000';
  }

  &:hover {
    background: var(--color-secondary);

    & > * {
      background: inherit;
    }
  }
}