input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  font-family: Helvetica;
  margin-bottom: 0.5rem;
  background: transparent;
  border: none;
  border-bottom: 3px solid var(--color-primary);
  outline: none;

  &::placeholder {
    color: rgba(white, 0.5);
    font-size: 0.8rem;
    font-family: 'Museo Sans Rounded 100';
  }

  &.--correct {
    border-bottom-color: var(--color-correct);
  }
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 1rem 0;

  &__clear {
    position: absolute;
    right: 0;
    padding: 1rem;
    font-size: 1rem;
  }
}