input[type="radio"] {
  -webkit-appearance: none;
  display: block;
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 55px;
  border: 2px solid var(--color-secondary);
  transition: 250ms ease-in background-color;
  outline: none;

  &:checked {
    background-color: var(--color-secondary);
  }

  &.--correct {

    &:checked {
      border-color: var(--color-correct);
      background-color: var(--color-correct);
    }
  }

  &.--incorrect {
    background-color: var(--color-incorrect);
    border-color: var(--color-incorrect);
  }
}
