.ranking {
  list-style: none;
  padding-bottom: 3rem;

  &-wrapper {
    position: relative;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 2rem 3rem 2rem;
    //background-color: #373852;
    background: linear-gradient(-180deg, #292a3a, transparent);
  }
  
  &-title {
    padding: 1rem 2rem 1rem;
    background-color: #373852;
  }

  li {
    a {
      width: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;

      img {
        $size: 3rem;
        width: $size;
        min-width: $size;
        height: $size;
        border-radius: 1rem;
      }

      > span {
        display: flex;
        align-items: center;
        color: white;
        width: 3rem;
        justify-content: center;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding-left: 1rem;
  }

  .value {
    padding: 0.5rem;
    background: var(--color-tertiary);
    color: var(--color-dark);
    border-radius: 7px;
  }

  .message {
    color: white;
    font-style: italic;
  }
}
