.edit {
  display: block;
  padding: 1rem;

	p {
		width: 100%;
		text-align: left;
		font-family: Helvetica;
		font-weight: 700;
		letter-spacing: initial;
	}

	.save {
		margin-top: auto;
	}

	.list {
		width: 100%;
		max-height: 60vh;
		overflow-y: auto;
	}

	.icon-forward,
	.icon-save {
		position: absolute;
		top: 0;
		padding: 1rem;
	}

	.icon-forward {
		left: 0;
		font-size: 1.5rem;
	}

	.icon-save {
		top: 3px;
		right: 0;

		&.--not-saved {
			&:after {
				$size: 0.8rem;
				content: "";
				position: absolute;
				top: 0.2rem;
				left: 0.2rem;
				display: inline-block;
				width: $size;
				height: $size;
				background-color: var(--color-secondary);
				border-radius: 50%;
			}
		}
	}

	h1 {
		padding-left: 3rem;
	}
}

.--disabled {
	opacity: 0.5;

	&:hover {
		background: initial;
	}
}