.edit {
  display: block;
  padding: 0 1rem;

  .subtitle {
    margin-bottom: 0.5rem;
    font-family: "Museo Sans Rounded 500";
  }

  &__question {
    max-height: 79vh;
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  p {
    width: 100%;
    font-weight: 700;
    letter-spacing: initial;
  }

  .list {
    width: 100%;
    max-height: 28rem;
    overflow-y: auto;
  }
}