.home {

  h1 {
    position: absolute;
    top: 2rem;
    width: calc(100vw - 2rem);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      display: block;
      text-transform: uppercase;
    }
  }

  p {
    padding: 1rem;
    word-break: break-all;
  }

  .edit {
    position: absolute;
    top: 6.5rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    padding: 0;
    letter-spacing: 1px;
    font-size: 0.5rem;
    color: white;
    border-bottom: none;
    border-radius: 150px;
    background: linear-gradient(145deg, #515495, #6064b1);
    box-shadow:  11px 11px 21px #4d4f8c, 
             -11px -11px 21px #686bbe;

    [class^='icon-'] {
      color: white;
      font-size: 1.5rem;
    }
  }

  textarea {
    min-height: 4rem;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    border-bottom: none;
    font-family: inherit;
  }
}

.launch {
  position: absolute;
  bottom: 1.6rem;
  left: 50%;
  transform: translateX(-50%) scale(1);
}

.winner {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

.wheel {
  text-align: center;

  > .konvajs-content {
    display: inline-block;
  }
}