.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.launch {
  position: absolute;
  bottom: 1.6rem;
}

.winner {
  margin-top: -1rem;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

.wheel {
  text-align: center;

  > .konvajs-content {
    display: inline-block;
  }
}
