.questionary {
  height: 100%;
  padding: 2rem;

  .question {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;

    img {
      border-radius: 0.5rem;
    }

    h1 {
      margin-bottom: 1rem;
      padding: 0 1rem 0 0;
    }

    &.--expanded {
      height: 100%;

      &:after {
        content: "";
        position: absolute;
        bottom: 1rem;
        z-index: 1;
        display: block;
        width: calc(100% - 2rem);
        height: 1.3rem;
        background: linear-gradient(to top, #50558a 0%, rgba(#50558a, 0) 100%);
        border-radius: 0 0 2rem 2rem;
      }

      h1 {
        font-size: 1rem;
        padding-bottom: 1rem;
      }
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    list-style: none;
    padding: 1rem;

    li {
      flex: 1 1 auto;
      max-height: 70px;
      margin: 0.5rem 0;
      text-align: center;
    }

    &.--is-completed button:hover {
      background: $gradient-button;
    }

    button {
      position: relative;
      height: 100%;
      padding: 0;
      border: 3px solid var(--color-primary);
    }
  }

  .list-enter {
    opacity: 0;
    transform: translateX(-100%);
  }

  .list-enter-active {
    transform: translateX(100%);
    transition: all 1s;
  }

  .options button.option {
    border: 3px solid var(--color-primary);

    &.--incorrect {
      opacity: 0.5 !important;
      width: 95%;
    }

    &.--correct {
      position: relative;
      opacity: 1 !important;
      background: var(--color-correct) !important;
      border-color: var(--color-correct) !important;
      max-width: 100%;
    }

    &.--selected {
      border: 3px solid var(--color-secondary);
    }

    &.--selected.--incorrect {
      background: var(--color-incorrect) !important;
      border-color: var(--color-incorrect) !important;
    }

    .icon-book {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
      border-radius: 50%;
      background-color: orange;
      font-size: 1rem;
      padding: 0.5rem;
      width: 2rem;
      height: 2rem;
    }
  }

  .next {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    .clock {
      position: absolute;
      top: 50%;
      right: 1rem;
      background: var(--color-primary);
      transform: translateY(-50%);
    }
  }

  .back {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    transform: rotateZ(180deg);
  }
}

.indicator {
  position: absolute;
  top: 2.5rem;
  transform: translateX(-50%);
  left: 50%;
  color: rgb(124, 126, 167);
}
