.questionary {
  padding: 1rem;

  .options {
    list-style: none;
    padding: 1rem;

    li {
      text-align: center;
    }

    &.--is-completed button:hover {
      background: $gradient-button;
    }
  }

  button {
    margin: 0.5rem 0;
  }

  .list-enter {
    opacity: 0;
    transform: translateX(-100%);
  }

  .list-enter-active {
    // .list-leave-active
    transform: translateX(100%);
    transition: all 1s;
  }

  .options button.option {
    border: 3px solid $color-primary;

    &.--incorrect {
      opacity: 0.5 !important;
    }

    &.--correct {
      position: relative;
      background: $color-secondary;
    }

    &.--selected {
      border: 3px solid $color-secondary;
    }

    .icon-book {
      position: absolute;
      top: 1rem;
      right: 1rem;
      border-radius: 50%;
      background-color: darken($color-secondary, 15);
      font-size: 1rem;
      padding: 0.5rem;
      width: 2rem;
      height: 2rem;
    }
  }

  .next {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
