@font-face {
    font-family: 'Museo Sans Rounded 500';
    font-style: normal;
    font-weight: normal;
    src: local('Museo Sans Rounded 500'), url('https://www.cufonfonts.com/cdn/webfont/museo-sans-rounded/MuseoSansRounded500.woff?token=EBWV46vY7W1EOxOM2CyojxiGbEhHOcTU') format('woff');
}
@font-face {
    font-family: 'Museo Sans Rounded 700';
    font-style: normal;
    font-weight: normal;
    src: local('Museo Sans Rounded 700'), url('https://www.cufonfonts.com/cdn/webfont/museo-sans-rounded/MuseoSansRounded700.woff?token=EBWV46vY7W1EOxOM2CyojxiGbEhHOcTU') format('woff');
}
@font-face {
    font-family: 'Museo Sans Rounded 900';
    font-style: normal;
    font-weight: normal;
    src: local('Museo Sans Rounded 900'), url('https://www.cufonfonts.com/cdn/webfont/museo-sans-rounded/MuseoSansRounded900.woff?token=EBWV46vY7W1EOxOM2CyojxiGbEhHOcTU') format('woff');
}
@font-face {
    font-family: 'Museo Sans Rounded 1000';
    font-style: normal;
    font-weight: normal;
    src: local('Museo Sans Rounded 1000'), url('https://www.cufonfonts.com/cdn/webfont/museo-sans-rounded/MuseoSansRounded1000.woff?token=EBWV46vY7W1EOxOM2CyojxiGbEhHOcTU') format('woff');
}