$icomoon-font-family: "paint" !default;
$icomoon-font-path: "fonts" !default;

$icon-github: "\e900";
$icon-close: "\e94b";
$icon-code: "\e94a";
$icon-menu: "\e949";
$icon-pencil: "\e942";
$icon-pencil2: "\e943";
$icon-quill: "\e944";
$icon-pen: "\e945";
$icon-blog: "\e946";
$icon-eyedropper: "\e947";
$icon-paint-format: "\e948";
$icon-sort-alphabetically: "\e941";
$icon-star-full: "\e940";
$icon-save: "\e93f";
$icon-filter: "\e93e";
$icon-heart: "\e93d";
$icon-stop: "\e93c";
$icon-box: "\e901";
$icon-write: "\e902";
$icon-clock: "\e903";
$icon-reply: "\e904";
$icon-reply-all: "\e905";
$icon-forward: "\e906";
$icon-flag: "\e907";
$icon-search: "\e908";
$icon-trash: "\e909";
$icon-envelope: "\e90a";
$icon-bubble: "\e90b";
$icon-bubbles: "\e90c";
$icon-user: "\e90d";
$icon-users: "\e90e";
$icon-cloud: "\e90f";
$icon-download: "\e910";
$icon-upload: "\e911";
$icon-rain: "\e912";
$icon-sun: "\e913";
$icon-moon: "\e914";
$icon-bell: "\e915";
$icon-folder: "\e916";
$icon-pin: "\e917";
$icon-sound: "\e918";
$icon-microphone: "\e919";
$icon-camera: "\e91a";
$icon-image: "\e91b";
$icon-cog: "\e91c";
$icon-calendar: "\e91d";
$icon-book: "\e91e";
$icon-map-marker: "\e91f";
$icon-store1: "\e920";
$icon-support: "\e921";
$icon-tag: "\e922";
$icon-heart1: "\e923";
$icon-video-camera: "\e924";
$icon-trophy: "\e925";
$icon-cart: "\e926";
$icon-eye: "\e927";
$icon-cancel1: "\e928";
$icon-chart: "\e929";
$icon-target: "\e92a";
$icon-printer: "\e92b";
$icon-location: "\e92c";
$icon-bookmark: "\e92d";
$icon-monitor: "\e92e";
$icon-cross: "\e92f";
$icon-plus: "\e930";
$icon-left: "\e931";
$icon-up: "\e932";
$icon-browser: "\e933";
$icon-windows: "\e934";
$icon-switch: "\e935";
$icon-dashboard: "\e936";
$icon-play: "\e937";
$icon-fast-forward: "\e938";
$icon-next: "\e939";
$icon-refresh: "\e93a";
$icon-film: "\e93b";
$icon-home: "\e94c";
$icon-floppy-disk: "\e962";

