* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  height: 100%;
  background-color: var(--color-tertiary);
}

@import '../fonts/museo/museo';

body {
  padding: 2rem;
  color: white;
  background-color: teal;
  font-family: "Museo Sans Rounded 500", sans-serif;

  @include mq($until: phablet) {
    padding: 0;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

canvas {
  width: 100%;
}

h1 {
  font-size: 1.5rem;
}

a  {
  padding: 0.5rem 0;
  text-align: center;
  text-decoration: underline;
  color: var(--color-secondary);
}

input[type="radio"] {
  -webkit-appearance: none;
  display: block;
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 55px;
  border: 2px solid var(--color-secondary);
  transition: 250ms ease-in background-color;
  outline: none;

  &:checked {
    background-color: var(--color-secondary);
  }

  &.--correct {

    &:checked {
      border-color: var(--color-correct);
      background-color: var(--color-correct);
    }
  }

  &.--incorrect {
    background-color: var(--color-incorrect);
    border-color: var(--color-incorrect);
  }
}
