* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  height: 100%;
  background-color: $color-tertiary;
}

body {
  padding: 2rem;
  color: white;
  background-color: teal;
  font-family: "Fredoka One", sans-serif;
  letter-spacing: 3px;

  @include mq($until: phablet) {
    padding: 0;
  }
}

canvas {
  width: 100%;
}

h1 {
  font-size: 1rem;
}

a  {
  padding: 0.5rem;
  text-align: center;
  text-decoration: underline;
  color: $color-secondary;
}