button {
  -webkit-appearance: none;
  max-width: calc(375px - 2rem);
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: inherit;
  color: white;
  background-color: white;
  border-radius: 1.3rem;
  border: none;
  transition: all 250ms ease-in;
  outline: none;
  background: linear-gradient(145deg, #515495, #6064b1);
  box-shadow:  11px 11px 21px #4d4f8c, 
              -11px -11px 21px #686bbe;
  cursor: pointer;

  &:hover {
    transform: scale(1.05) translateX(-48%) translateY(0);
  }

  &:active {
    outline: none;
  }
}