.clock {
  @extend .fab;
  @include neomorphs;
  display: flex;
  margin: 0 auto;
  font-size: 1.3rem;
  border: 2px solid transparent;
  animation: pulse-clock 1s infinite;
  animation-delay: 0.2s;

  &.pulse-clock {
    animation-name: pulse-clock;
    animation-play-state: running;
  }

  &.--mini {
    $size: 2.5rem;
    display: inline-flex;
    min-width: $size;
    min-height: $size;
    width: $size;
    height: $size;
    font-size: 1rem;
    background-color: transparent;
    box-shadow: none;
  }

  &.--is-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 9px;
    height: 5px;
    border-width: 0;
    border-radius: 0px;
    animation: none;

    & > span {
      display: none;
    }

    .progress {
      width: 100%;
      height: 100%;

      & > span {
        width: 25%;
        height: 100%;
        display: block;
        background-color: var(--color-secondary);
        //transition: all 250ms ease-in;
      }
    }
  }
}

@keyframes pulse-clock {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-secondary);
  }
  100% {
    border-color: transparent;
  }
}
