.fab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  min-height: 4rem;
  margin: 0 0 0 auto;
  padding: 0;
  font-size: 2rem;
  border-radius: 50%;

  [class^="icon-"] {
    width: 1.95rem;
  }
}