input[type="text"],
textarea {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  padding: 0.5rem 3rem 0.5rem 0;
  font-size: 1rem;
  color: white;
  font-family: Helvetica;
  background: transparent;
  border: none;
  border-bottom: 3px solid var(--color-primary);
  outline: none;

  &.--correct {
    border-bottom-color: var(--color-correct);
  }
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 1rem 0;

  &__clear {
    position: absolute;
    right: 0;
    padding: 1rem;
    font-size: 1rem;
  }
}