$color-primary: #5a5da5 !default;
$color-secondary: #e49541 !default; 
$color-tertiary: #2b2b2b!default;
$duration: 150ms !default;

@import '_breakpoints';

@import 'base';
@import "icons/icons.scss";

@include icon("") {
  &:hover {
    color: $color-secondary;
    transition: all $duration ease-in;
  }
}

canvas {
  cursor: pointer;
  transform: scale(0.9);
  transition: all $duration ease-in-out;

  &:hover {
    @include mq($from: phablet) {
      transform: scale(0.95);
    }
  }
}

@import 'page';
@import 'input';
@import 'button';
@import 'fab';
@import 'vendor';
@import 'pages/pages';

.version {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7rem;
  padding: 0.2rem;
}