* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  height: 100%;
  background-color: #2b2b2b;
}

body {
  color: white;
  font-family: "Fredoka One", sans-serif;
  letter-spacing: 3px;
}

canvas {
  width: 100%;
}

button {
  -webkit-appearance: none;
  max-width: calc(375px - 2rem);
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: inherit;
  color: white;
  background-color: white;
  border-radius: 14px;
  border: none;
  //border-bottom: 5px solid grey;
  transition: border-bottom-width 250ms ease-in;
  outline: none;
  background: linear-gradient(145deg, #272727, #2e2e2e);
  box-shadow: 17px 17px 34px #111111, -17px -17px 34px #454545;

  &:active {
    border-bottom-width: 0;
  }
}

input[type="text"],
textarea {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  font-size: 1rem;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 3px solid white;
  outline: none;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 1rem 0;

  &__clear {
    position: absolute;
    right: 3rem;
    padding: 1rem;
    font-size: 1rem;
  }

  &__delete {
    padding: 1rem;
  }

  &.--title {
    font-size: 2rem;

    textarea {
      font-size: 1rem;
      min-height: 4rem;
    }

    .input__clear {
      right: 0;
    }
  }
}

h1 {
  font-size: 1.5rem;
}

@import "icons/icons.scss";

@include icon("") {
  &:active {
    color: #e49541;
    transition: all 250ms ease-in;
  }
}

[name="save-dialog"] {
  color: #2b2b2b;
  letter-spacing: initial;

  button {
    border-radius: 0;
  }
}

.vue-dialog-buttons .v-dialog-save {
  font-size: 12px !important;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
  line-height: 40px;
  height: 40px;
  color: white;
  text-shadow: 0 0 5px black;
  font: inherit;
  outline: none;
  background-color: #e49541;
}

.dialog-c-title,
.dialog-c-text {
  font-family: Helvetica;
}

.vue-dialog-buttons button {
  box-shadow: none;
  background-color: inherit;
}
