:root {
  --vh: 1;
  --color-primary: #5a5da5; //#5a5da5;
  --color-secondary: #d87a53; //#e49541;
  --color-tertiary: #d5c553; //#2b2b2b;
  --color-incorrect: #e3665c;
  --color-correct: #65a681;
  --color-dark: #333560;
  --duration: 150ms;
}

@import "_breakpoints";

@import "base";
@import "icons/icons.scss";

@include icon("") {
  &:hover {
    color: var(--color-secondary);
    transition: all var(--duration) ease-in;
  }
}

canvas {
  cursor: pointer;
  transform: scale(0.9);
  transition: all $duration ease-in-out;

  &:hover {
    @include mq($from: phablet) {
      transform: scale(0.95);
    }
  }
}

@import "page";
@import "input";
@import "button";
@import "fab";
@import "clock";
@import "vendor";
@import "pages/pages";
@import "explanation";
@import "ranking";

@import "vendor/prism-synthwave84";
code {
  border: none;
  //font-size: 1rem;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.hidden-keyboard-opened {
  @media screen and (max-height: 400px) {
    display: none;
  }
}

.aka {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.3rem 0.7rem;
  color: var(--color-dark);
  background-color: var(--color-tertiary);
  border-radius: 5px;
}

.category {
  position: absolute;
  top: 1rem;
  left: 50%;
  z-index: 1;
  opacity: 1;
  display: inline-block;
  padding: 0.2rem;
  text-align: center;
  font-size: 1rem;
  color: rgba(white, 0.36);
  background-color: var(--color-primary);
  transform: translateX(-50%);
}
