$color-primary: #5a5da5;
@import '_breakpoints';

@import 'base';
@import "icons/icons.scss";

@include icon("") {
  &:hover {
    color: #e49541;
    transition: all 150ms ease-in;
  }
}

canvas {
  cursor: pointer;
  transform: scale(0.9);
  transition: all 150ms ease-in-out;

  &:hover {
    @include mq($from: phablet) {
      transform: scale(0.95);
    }
  }
}

@import 'page';
@import 'input';
@import 'button';
@import 'fab';
@import 'vendor';
@import 'pages/pages';
