* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  height: 100%;
  background-color: #2b2b2b;
}

body {
  color: white;
  font-family: "Fredoka One", sans-serif;
  letter-spacing: 3px;
}

canvas {
  width: 100%;
}

button {
  padding: 1rem;
  background-color: white;
  border: none;
  max-width: calc(375px - 2rem);
  -webkit-appearance: none;
  border-radius: 14px;
  width: 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-bottom: 5px solid grey;
  font-weight: 900;
  outline: none;
  transition: border-bottom-width 250ms ease-in;
  font-family: inherit;
  letter-spacing: inherit;
  color: #2b2b2b;

  &:active {
    border-bottom-width: 0;
  }
}

input[type="text"],
textarea {
  padding: 1rem;
  padding-right: 3rem;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  border-bottom: 3px solid white;
  display: block;
  outline: none;
  color: white;
  font-size: 1rem;
  width: 100%;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 0 1rem 0;

  &__clear {
    position: absolute;
    right: 3rem;
    padding: 1rem;
    font-size: 1rem;
  }

  &__delete {
    padding: 1rem;
    border: 1px solid white;
  }

  &.--title {
    font-size: 2rem;

    textarea {
      font-size: 1rem;
      min-height: 4rem;
    }

    .input__clear {
      right: 0;
    }
  }
}

@import 'icons/icons.scss';