.app {
  position: relative;
  max-width: 375px;
  max-height: 720px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: $color-primary;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24),
    0 17px 50px 0 rgba(0, 0, 0, .19);
  border-radius: 2.5rem;
  transform: translate3d(0, 0, 0);
  transition: all $duration ease-in;

  & > [page] {
    position: relative;
    z-index: 2;
    min-height: 100%;
    padding: 4rem 1rem 1rem 1rem;

    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:before {
      background: url('https://raw.githubusercontent.com/khadkamhn/secret-project/master/img/background.jpg') center no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    &:after {
      background: linear-gradient(to bottom, $color-primary 0%, rgba(0, 0, 0, 0.7) 44%, $color-primary 90%);
      transform: rotate3d(-45deg);
    }
  }

  @include mq($until: phablet) {
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    border-radius: 0;

    & > div {
      height: 100%;
    }
  }

  @include mq($from: phablet) {
    min-height: 720px;
    max-height: 720px;

    &:hover {
      transform: rotate3d(1, 1, 1, -2deg);
      box-shadow: -5px 12px 15px 0 rgba(0, 0, 0, 0.24), -5px 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    & > div {
      min-height: 720px;
    }
  }
}

.fixed {
  position: fixed;
  bottom: 0;
  padding: 1rem;

  &.--right {
    right: 0;
  }
}
